{% extends "_base.html" %}

{% set title = "About Yabujin" %}

{% block content %}
	<div class="text">
		<img class="inline" style="float: right; max-width: 200px;" src="img/yabujin1.png">
		<h1>About Yabujin</h1>
		<p><b>Yabujin</b> (stylized as <b>YABUJIN</b>; a.k.a. <b>DJ Gyrotta Zao</b>, among other aliases) is a Lithuanian artist and musician. He is known for his distinctive, old-web style, present in both his music (primarily released on SoundCloud) and videos (uploaded to YouTube).</p>
		<p>He is most well known for his music, including tracks such as <i>CHALICE OF MIND</i>, <i>HARDSTYLE DRILL 2009 NOKIA ANGELZ 1.6</i> and <i>302? ionwan2go</i>. He has released two EPs - <i>SWORDS</i> in 2020 and <i>Flash Desire</i> in 2019. He has also released many videos on YouTube, including the <i>Azeroy</i> series.</p>
		<p>After multiple months of inactivity, in 2021, Yabujin deleted all content from his Soundcloud and YouTube channels. Since then, he has primarily been posting under the <i>DJ Gyrotta Zao</i> alias, occasionally releasing some content under the Yabujin name.</p>
		<p><small>...alright, let's cut it with the Wikipedia-style intro.</small></p>
		<h2>Style and influences</h2>
		<p>As mentioned previously, Yabujin's music and videos are heavily inspired by the early days of internet content. Some of his earlier works under the Yabujin alias - such as <i>TheArtOfOldFlashDatingSimulatorGames</i> - make reference to Flash games, and the early anime fandom. Anime in general appears often on cover art - for example, Love Hina. Some songs sample music from video game OSTs, usually JRPGs or dating simulators (ionwan2go samples <a href="https://www.youtube.com/watch?v=JuqgFf9yAmA">a song from Love Hina Advance</a>).</p>
		<p>Yabujin's art often revolves around the topics of divinity and religion - <i>Dear Gatekeeper</i>, he asks in the song of the same name, <i>will you open the gate one day when I become a saint?</i>. The Azeroy series follows the main character as he tries to create life to get into <i>Azeroy</i>. It's easy to draw parallels between the portrayal of Azeroy and heaven and hell.</p>
		<p>Most importantly, the style often delves into the more sinister aspects of online culture - from creepypasta references (like <i>Mereana Mordegard Glesgorv</i>) to LiveLeak-esque grotesque. Surgeons, fetuses and deformed newborn animals appear very often through his works, primarily in the Azeroy series. No gore is shown per-se, but it's definitely not something to watch if you just ate dinner.</p>
		<h3>Jumpstyle</h3>
		<p>In some of his works, especially the DJ Gyrotta Zao ones, Yabujin references <b>jumpstyle</b>. Jumpstyle is a dance movement primarily active in the early 2000s, around 2006-2010. Most jumpers dance to hardstyle and other electronic music.</p>
		<p>Yabujin himself has practiced jumpstyle in the early 2010s, even having uploaded some videos on a different channel. He once mentioned Patrick Jumpen, one of the leading figures in jumpstyle back in its glory days, as his inspiration.</p>
		<p>He can be seen jumping in the music video for <i>CHALICE OF MIND</i>, which is a hardstyle song in and of itself. DJ Gyrotta Zao songs are usually hardstyle - the music videos for VALERIA BOUNCE and ZETRAKORE XAOS DA JUMPING GARYGOYLZ</p>
		<h2>History</h2>
		<p>Yabujin has been making music in one way or another since about 2016. Initially starting out with lo-fi hiphop and phonk, he later moved into more noise-esque places before finally creating the art on the Yabujin channel.</p>
		<p>The first few uploads to his YouTube channel were in </p>
		<h3>Relation to <i>Dismiss Yourself</i></h3>
		<p>In 2020, <b>sticki</b> from the label <i>Dismiss Yourself</i> uploaded an unofficial compilation of Yabujin tracks titled <i>Early Works Bootleg</i>. <ref><a href="https://www.youtube.com/watch?v=lPdfkKwel6g&lc=UgzdcBMVD9TBuVbOEAx4AaABAg">ref</a></ref></p>
		<p>Later, in December of 2021, Yabujin released his music onto streaming services through Dismiss Yourself. sticki has stated that this was done from Yabujin's initiative, and that Yabujin had provided the lossless audio files and album covers for the streaming service releases.</p>
		<div class="warning"><b>note</b>: <b>Please don't bother sticki about Yabujin-related matters</b>.</div>
	</div>
{% endblock %}
