/* general site style */

body {
	max-width: 800px;
	margin: 50px auto;
	background-color: #000;
	color: #fff;
}

.content td { vertical-align: top; }

.warning {
	background-color: #420d1e;
	color: #aaa;
	border: 4px ridge #420d1e;
}

#navbar {
	display: block;
	margin: 6px;
	padding: 6px;
	background-color: rgba(64, 64, 64, 0.5);
	list-style: none;
}

.footer {
	text-align: center;
}

.spoiler, .infopage-content code {
	display: inline-block;
	background-color: #333;
	color: #333;
}

.spoiler:hover, .infopage-content code:hover {
	color: #fff;
}

.dim {
	color: rgba(255, 255, 255, 0.5);
}

/* workaround for datatables details not being 100% width */
.dtr-details {
	width: 100%;
}

.dtr-details .dtr-title {
	min-width: 20% !important;
}
