/* general site style */

body {
	max-width: 900px;
	margin: 50px auto;
	background-color: #000;
	color: #fff;
}

.content td { vertical-align: top; }

.warning {
	background-color: #420d1e;
	color: #aaa;
	border: 4px ridge #420d1e;
}

.navbar-pane {
	display: inline-block;
	width: 20%;
	float: right;
}

.content-pane {
	display: inline-block;
	width: 80%;
}

.navbar-pane ul {
	display: block;
	margin: 6px;
	padding: 6px;
	list-style: none;
}

.navbar-pane ul li {
	display: block;
}

.navbar-pane ul li a, .navbar-pane ul li .selected {
	text-align: center;
	color: #fff;
	width: 100%;
	display: block;
	padding: 6px 0;
	border: 2px #333 solid;
}

.navbar-pane ul li .selected {
	background-color: #222;
}

.content img { display: block; max-width: 100%; }

.footer {
	text-align: center;
}

.spoiler, .infopage-content code {
	display: inline-block;
	background-color: #333;
	color: #333;
}

.spoiler:hover, .infopage-content code:hover {
	color: #fff;
}

.dim {
	color: rgba(255, 255, 255, 0.5);
}

td p { margin: 0; }

/* workaround for datatables details not being 100% width */
.dtr-details {
	width: 100%;
}

.dtr-details .dtr-title {
	min-width: 20% !important;
}
